body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin: 50px 0;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#outer {
    width: 600px;
    margin: 0 auto;    
}

.venue_list_item {
    cursor: pointer;
    padding: 5px;
}

.venue_list_item.selected {
    background-color: yellow;
}

.name-and-address {
    display: inline-block;
    /* background-color: bisque; border-width: 1px; border-style: solid; */
}

.venue_list_item .name {
    display: inline-block;
    width: 450px;
    font-size: 1.75em;
    /* background-color: pink; border-width: 1px; border-style: solid; */
}

.venue_list_item .score {
    vertical-align: top;
    display: inline-block;
    width: 70px;
    text-align: right;
    padding-right: 10px;
    font-size: 2em;
    font-weight: bold;
    color: #777;
    /* background-color: cyan; border-width: 1px; border-style: solid; */
}

.venue_list_item.selected .score {
    color: black;
}

.venue_list_item .like {
    vertical-align: top;
    display: inline-block;
    /* background-color: thistle; border-width: 1px; border-style: solid; */
}

.venue_list_item .address {
    /* background-color: palegreen; border-width: 1px; border-style: solid; */
}

.details, .none {
    font-weight: bold;
    font-size: 2em;
    border-style: dashed none none none;
    border-color: #ccc;
    border-width: 4px;
    margin: 50px 10px;
    padding: 10px 0px;
}

.none {
    color: #777;
}

.venue_list_item .inc {
  visibility: hidden;
}

.venue_list_item.selected .inc {
  visibility: visible;
  vertical-align: baseline;
}

.inc {
  cursor: pointer;
}
