body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin: 50px 0;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#outer {
    width: 800px;
    margin: 0 auto;    
}

#recalc {
  cursor: pointer;
}

.venue_list_item {
    cursor: pointer;
    padding: 5px;
}

.venue_list_item.selected {
    background-color: yellow;
}

.name-and-address {
    display: inline-block;
    /* background-color: bisque; border-width: 1px; border-style: solid; */
}

.venue_list_item .name {
    display: inline-block;
    width: 400px;
    font-size: 1.75em;
    /* background-color: pink; border-width: 1px; border-style: solid; */
}

.venue_list_item .score {
    vertical-align: top;
    display: inline-block;
    width: 70px;
    text-align: right;
    padding-right: 10px;
    font-size: 2em;
    font-weight: bold;
    color: #777;
    /* background-color: cyan; border-width: 1px; border-style: solid; */
}

.venue_list_item.selected .score {
    color: black;
}

.venue_list_item .like {
    vertical-align: top;
    display: inline-block;
    /* background-color: thistle; border-width: 1px; border-style: solid; */
}

.venue_list_item .address {
    /* background-color: palegreen; border-width: 1px; border-style: solid; */
}

.details, .none {
    font-weight: bold;
    font-size: 2em;
    border-style: dashed none none none;
    border-color: #ccc;
    border-width: 4px;
    margin: 50px 10px;
    padding: 10px 0px;
}

.venue-add {
    border-style: dashed none none none;
    border-color: #ccc;
    border-width: 4px;
    margin: 50px 10px;
    padding: 10px 0px;
}

label, .venue-add div {
  display: inline-block;
  width: 80px;
  text-align: right;
}

.venue-add .error {
    font-weight: bold;
    color: #f00;
}

.none {
    color: #777;
}

.venue_list_item .destroy {
    color: red;
    visibility: hidden;
    display: inline-block;
}

/* Venue-rating buttons are invisible until their venue is selected. */
.venue_list_item .rate {
  visibility: hidden;
}

/* All rating buttons have the `rate` class applied to them.
 * This CSS makes them look like buttons.  */
.venue_list_item.selected .rate {
  display: inline-block;
  width: 1.25em;
  text-align: center;
  color: cyan;
  background-color: blue;
  border: 2px solid olive;
  border-radius: 3px;
  visibility: visible;
}

/* The `selectedRating` class is applied to the rating that a user has chosen
 * for the corresponding venue. If the user hasn't yet rated the venue, or a
 * rating is different from the score the user has given the venue, then the
 * `newRating` class is applied instead.
 * Since a `selectedRating` indicates the user's current rating of this venue,
 * it is an inactive button.  Thus this CSS makes it look disabled.  */
.venue_list_item.selected .selectedRating {
  color: #777;
  background-color: inherit;
}

.venue_list_item.selected .destroy {
  visibility: visible;
}

.rate {
  cursor: pointer;
}

.top-align {
    vertical-align: top;
    display: inline-block;
}
/* vim: set autoindent tabstop=2 shiftwidth=2 expandtab wrapmargin=6: */
